# Database
DATABASE_URL="file:./dev.db"

# Admin / Session
ADMIN_JWT_SECRET="ravi-vision-production-secret-key-change-in-prod"

# Store Configuration
STORE_PHONE=""

# Razorpay Online Payment Gateway
NEXT_PUBLIC_RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""

# Production App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"


